<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mate.bbs.usrtrrqst.dao.UsrTrRqstDao">
  <!-- 쿼리 작성 -->
	<resultMap id="usrTrRqstVOMap"
			   type="mate.bbs.usrtrrqst.vo.UsrTrRqstVO"
			   autoMapping="true">
		<id column="USR_TR_PST_ID" property="usrTrPstId" />
		<association property="userInfVO"
					 javaType=""
					 autoMapping="true">
			<id column="USR_ID" property="usrId"/>			 
		</association>
		<collection property="">
			
		</collection>
	</resultMap>
	

</mapper>